---
import Layout from '../layouts/Layout.astro'
import MaterialWrapper from '../components/MaterialWrapper'
---

<Layout title="Welcome to Astro.">
	<main>
		<div>	
			<div>
				<MaterialWrapper client:only />
			</div>
		</div>
	</main>
</Layout>

<style>
</style>
